@import "tailwindcss";

@layer base {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::selection {
    background: #A8B5A0;
    color: #fff;
  }

  input::placeholder,
  textarea::placeholder {
    text-transform: lowercase;
  }
}
